;; shadow-cljs configuration
{:source-paths ["src" "test"]

 :dependencies [[cider/cider-nrepl "0.31.0"]
                [refactor-nrepl/refactor-nrepl "3.6.0"]]

 :nrepl {:middleware [cider.nrepl/cider-middleware
                      refactor-nrepl.middleware/wrap-refactor]
         #_ #_
         :port 50655}

 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:entries [my.app]}}}}}
